# Assignment 2

String based problems

1. Write a program to reverse a string.

In [5]:
# 1. take user input of a string using input function

string = input("Enter your string :")

# 2. Reverse the string using the indexing

reverse_str =string[::-1]

# 3. Print the reversed string 

print(f"The reversed string is :",reverse_str)

Enter your string :1234.0123
The reversed string is : 3210.4321

2. Check if a string is a palindrome.

In [6]:
# 1. take string input from user

inp_string = input("Enter the string :")

# 2. remove spaces from input string

nospace_str = inp_string.replace(" ", "")

# 3. now convert into lowercase as python is case sensitive

lowcase_str = nospace_str.lower()

# 4. reverse the input string

rev_str = lowcase_str[::-1]

# 5. use if function to print whether the string is palindrome or not

if lowcase_str == rev_str:
    print("the string is a Palindrome")
else:
    print("the string is not a palindrome")

Enter the string :so lets check
the string is not a palindrome

3. Convert a string to uppercase.

In [14]:
# 1. take string input from user

inp_string = input("Enter the string :")

# 2. convert input string to uppercase using .upper function

upperc_string = inp_string.upper()

# 3. print the string in uppercase

print(f"String in uppercase is :",upperc_string)

Enter the string :upper LOWER
String in uppercase is : UPPER LOWER

4. Convert a string to lowercase.

In [17]:
# 1. take string input from user

inp_string = input("Enter the string :")

# 2. convert input string to lowercase using .lower function

lowerc_string = inp_string.lower()

# 3. print the string in uppercase

print(f"String in lowercase is :",lowerc_string)

Enter the string :Lower CASE
String in lowercase is : lower case

5. Count the number of vowels in a string.

In [8]:
# 1. Take user input of a string
input_str = input("enter string :")

# 2. Convert the input string to lowercase
string =input_str.lower()

# 3. set vowels count as 0
count=0

# 4. set vowels 
vowels = set("aeiou")

# 5. use for loop to iterate through the input string to check the vowels
for v in string:
    if v in vowels:
        
# 6. increase vowel count by 1 each time the loop detects a vowel in string
        count +=1
    
# 7. print the number of vowels
print(f"The number of vowels in string is :",count)

enter string :the vowel count check
The number of vowels in string is : 6

6. Count the number of consonants in a string

In [30]:
# 1. Take user input of a string
input_str = input("enter string :")

# 2. Convert the input string to lowercase
string =input_str.lower()

# 3. set consonants count as 0
count=0

# 4. set consonants 
consonants = set("bcdfghjklmnpqrstvwxyz")

# 5. use for loop to iterate through the input string to check the Consonants
for c in string:
    if c in consonants:
        
# 6. increase consonants count by 1 each time the loop detects a consonants in string
        count +=1
    
# 7. print the number of consonantss
print(f"The number of consonants in string is :",count)

enter string :THE FOX IZ
The number of consonants in string is : 5

7. Remove all whitespaces from a string.

In [46]:
# 1. take user input
string= input("enter string: ")

# 2. replace space with no space with using .replace function
nospaces = string.replace(" ","")

# 3. print the string without spaces
print("The string without spaces is :",nospaces)

enter string: the spacee y
The string without spaces is : thespaceey

8. Find the length of a string without using the `len()` function.

In [47]:
inp_str = input("enter string :")
count = 0

for letter in inp_str:
    count+=1
    
print("the number of letters is : ",count)

enter string :this is 8
the number of letters is :  9

9. Check if a string contains a specific word.

In [52]:
# 1. take user input of the string and the specific word
input_str = input("Enter the string :")
specific_word = input("Enter the specific word :")

# 2. use if statement to iterate the input string for the specific word
if specific_word in input_str:
    
# 3. print if the specific word is found in string    
    print(f"The input string contains the word: '{specific_word}'")

# 4. print if the specific word is not found in string
else:
    print(f"The input string does not contain the word: '{specific_word}'")

Enter the string :the
Enter the specific word :h
The input string contains the word: 'h'

10. Replace a word in a string with another word.

In [61]:
# 1. take user input for string
string= input("enter string: ")

# 2. take user input for old word and new word for replacement

old = input("enter word to be replaced: ")
new = input("enter new word: ")

# 2. replace old word with new word with using .replace function
replaced_string = string.replace(old,new)

# 3. print the string without spaces
print(f"The replaced string is :",replaced_string)

enter string: the time is nigh!
enter word to be replaced: time
enter new word: hour
The replaced string is : the hour is nigh!

11. Count the occurrences of a word in a string

In [71]:
# 1. define function occurances and start word count

def occurences(inp_str,target):
    word_count = 0

# 2. split the string by the default space splitter
    string = inp_str.split()
    
# 3. use for loop to iterate through the string to check for the desired word    
    for word in string:
        if word == target:
            
# 4. increase word count by 1 each time the desired word is found in the string            
            word_count +=1
    return word_count

# 5. take user input for string and the desired word 
inp_str =input("Enter string: ")
target = input("Enter word to count for occurences: ")

# 6. get the result of pre defined function and print the reusult of occurences of the word

result = occurences(inp_str,target)
print(f"The word '{target}' appears '{result}' times in input string.")

Enter string: the desired word for this string is the word that i desire
Enter word to count for occurences: word
The word 'word' appears '2' times in input string.

12. Find the first occurrence of a word in a string.

In [9]:
def first_occurrence(string, word):
    index = string.find(word)
    if index == -1:
        return None 
    return index

text = "Lets check if this string has certain word at certain index."
word = "certain"
result = first_occurrence(text, word)
print("Index of the first occurrence of the word 'Certain' is:", result)

Index of the first occurrence of the word 'Certain' is: 30

13. Find the last occurrence of a word in a string

In [10]:
def last_occurrence(string, word):
    index = string.rfind(word)
    if index == -1:
        return None 
    return index

text = "Lets check if this string has certain word at certain index."
word = "certain"
result = last_occurrence(text, word)
print("Index of the last occurrence of the word 'Certain' is:", result)

Index of the last occurrence of the word 'Certain' is: 46

14. Split a string into a list of words

In [72]:
# 1. enter the text to be splitted
text = input("enter string: ")

# 2. split the input text using .split function
split_text = text.split()

# 3. print the splitted string in a list
print(f"The split string is: ",list(split_text))

enter string: this is my voice
The split string is:  ['this', 'is', 'my', 'voice']

15. Join a list of words into a string.

In [4]:
a = ["cure", "is", "for", "loo", "sers"]
b = ' '.join(a)
print(b)

cure is for loo sers

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [9]:
str1 = "This is how we separate string using different symbols"
new_str=str1.replace(' ','_')
print(new_str)

This_is_how_we_separate_string_using_different_symbols

17. Check if a string starts with a specific word or phrase.

In [14]:
def spec_word(string,word):
    initials = string.startswith(word)
    return initials

# test function
string = 'data science starts with python'
word = 'data'
result=spec_word(string,word)
if result:
    print('The string starts with specific word')
else:
    print('The string does not start with specific word')

The string does not starts with specific word

18. Check if a string ends with a specific word or phrase.

In [16]:
def spec_word(string,word):
    end = string.endswith(word)
    return end

# test function
string = 'data science starts with python'
word = 'python'
result=spec_word(string,word)
if result:
    print('The string ends with specific word')
else:
    print('The string does not end with specific word')

The string ends with specific word

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [14]:
def title_case(a):
    capist=a.title()
    return capist
title_case('hello world')

'Hello World'

20. Find the longest word in a string.

In [15]:
example = 'what is the aplhabet with most letters in this string'
words = example.split()
longest_word = ''
maxlen = 0
for i in words:
    if len(i) > maxlen:
        maxlen = len(i)
        longest_word = i
    
print('the longest word in this string is: ',longest_word)

the longest word in this string is:  aplhabet

21. Find the shortest word in a string.

In [18]:
example = 'what is a the aplhabet with least letters in this string'
words = example.split()
shortest_word = ''
minlen = 100
for i in words:
    if len(i) < minlen:
        minlen = len(i)
        shortest_word = i
    
print('the shortest word in this string is: ',shortest_word)

the shortest word in this string is:  a

22. Reverse the order of words in a string.

In [21]:
def reverse(string):
    ogstr =''
    for a in string:
        ogstr = a + ogstr
    return ogstr

#example
string = 'python is hard'
print('Given string is: ',string)

print('Reverse string is: ',reverse(string))

Given string is:  python is hard
Reverse string is:  drah si nohtyp

23. Check if a string is alphanumeric.

In [45]:
def alpnum(word):
    return word.isalnum()

word = 'Amu202352'
result = alpnum(word)
if result:
    print('The example is alphanumeric')
else:
    print('The example is not alphanumeric')

The example is alphanumeric

24. Extract all digits from a string.

In [23]:
word = 'danish00@12345'
numbers =''
for n in word:
    if n.isdigit():
        numbers += n
print('The numbers from given string -', word, 'are: ',  numbers)

The numbers from given string - danish00@12345 are:  0012345

25. Extract all alphabets from a string.

In [27]:
word = '12danish@345'
alphabets =''
for alpha in word:
    if alpha.isalpha():
        alphabets += alpha
print('The alphabets from given string -', word, 'are: ',  alphabets)

The alphabets from given string - 12danish@345 are:  danish

26. Count the number of uppercase letters in a string.

In [41]:
def count_upper(word):
    count=0
    for upper in word:
        if upper.isupper():
            count +=1
    return count
print('The count of uppercase letters are: ',count_upper('HelloWorLD'))

The count of uppercase letters are:  4

27. Count the number of lowercase letters in a string.

In [42]:
def count_lower(word):
    count=0
    for lower in word:
        if lower.islower():
            count +=1
    return count
print('The count of lowercase letters are: ',count_lower('HelloWorLD'))

The count of lowercase letters are:  6

28. Swap the case of each character in a string.

In [49]:
def swap_fun(string):
    swapped_string = string.swapcase()
    return swapped_string

print('The swapped case is: ', swap_fun('iNeuron'))

the swapped case is:  InEURON

29. Remove a specific word from a string.

In [2]:
def remove_word(string,del_word):
    words = string.split()
    new_string = [char for char in words if char!= del_word]
    
    out_string = ' '.join(new_string)
    return out_string

print(f"The string with a word removed is :",remove_word("this is remove function word example defined","function"))

The string with a word removed is : this is remove word example defined

30. Check if a string is a valid email address.

In [ ]:
def valid_email(string):
    for valid in string:
        if valid is

31. Extract the username from an email address string.

In [12]:
emailstr = "pwskills@ineuron.ai"
username= emailstr.split('@')[0]
print('The username from the', {emailstr}, 'is :',user)

The username from the {'pwskills@ineuron.ai'} is : pwskills

32. Extract the domain name from an email address string.

In [14]:
emailstr = "pwskills@ineuron.ai"
domain= emailstr.split('@')[1]
print('The domain name from the', {emailstr}, 'is :',domain)

The domain name from the {'pwskills@ineuron.ai'} is : ineuron.ai

33. Replace multiple spaces in a string with a single space.

In [18]:
space_str = 'Hello , this   is   pwskills'
single_space = ' '.join(space_str.split())
print(single_space)

Hello , this is pwskills

34. Check if a string is a valid URL.

In [7]:
from urllib.parse import urlparse

def valid_url(url):
   
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

test1 = valid_url("www.fb.com")
test2 = valid_url("https://www.google.com")
print(test1)
print(test2)

False
True

35. Extract the protocol (http or https) from a URL string.

In [10]:
def show_protocol(url):
    
    # Get the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
test1 = "https://www.google.com"
test2 = "http://fb.com"
test3 = "hehehe://ftp.ineuron.com"

r1 = show_protocol(test1)
r2 = show_protocol(test2)
r3 = show_protocol(test3)

print('Protocol 1 :', r1)
print('Protocol 2 :', r2)
print('Protocol 3 :', r3)

Protocol 1 : https
Protocol 2 : http
Protocol 3 : hehehe

36. Find the frequency of each character in a string.

In [13]:
def freq_char(inp_string):
    frequency = {}
    for x in inp_string:
        if x in frequency:
            frequency[x] += 1
        else:
            frequency [x] = 1
    return frequency

#test
inp_string = 'apple pie'

character_frequency = freq_char(inp_string)

for x, letters in character_frequency.items():
    print(f"Character: '{x}', Frequency: {letters}")

Character: 'a', Frequency: 1
Character: 'p', Frequency: 3
Character: 'l', Frequency: 1
Character: 'e', Frequency: 2
Character: ' ', Frequency: 1
Character: 'i', Frequency: 1

37. Remove all punctuation from a string.

In [19]:
import string

def no_punctuation(inp_string):
    translation = str.maketrans("", "", string.punctuation)
    
    clean_str = inp_string.translate(translation)
    return clean_str

#test
inp_string = " Alas! this hasn't been easy, actually quite hard."

Cleaned_string = no_punctuation(inp_string)
print('Original string:', inp_string)
print('Cleaned string:', Cleaned_string)

Original string:  Alas! this hasn't been easy, actually quite hard.
Cleaned string:  Alas this hasnt been easy actually quite hard

38. Check if a string contains only digits.

In [24]:
def check_digits(inp_string):
    
    return inp_string.isdigit()
# test
t1 = 'applepie'
t2 = 'ds@123'
t3 = '12346'

r1 = check_digits('applepie')
r2 = check_digits('ds@123')
r3 = check_digits('12346')

print(f" {t1}: contains only digits:", r1)
print(f" {t2}: contains only digits:", r2)
print(f" {t3}: contains only digits:", r3)

 applepie: contains only digits: False
 ds@123: contains only digits: False
 12346: contains only digits: True

39. Check if a string contains only alphabets.

In [26]:
def check_alpha(inp_string):
    
    return inp_string.isalpha()

# test
t1 = 'applepie'
t2 = 'ds@123'
t3 = '12346'

r1 = check_alpha('applepie')
r2 = check_alpha('ds@123')
r3 = check_alpha('12346')

print(f" {t1}: contains only alphabets:", r1)
print(f" {t2}: contains only alphabets:", r2)
print(f" {t3}: contains only alphabets:", r3)

 applepie: contains only alphabets: True
 ds@123: contains only alphabets: False
 12346: contains only alphabets: False

40. Convert a string to a list of characters.

In [29]:
def list_of_str(inp_str):
    char_list = list(inp_str)
    
    return char_list
#test
inp_str = 'assing string'

char_list = list_of_str(inp_str)

print(f' Original string: ', inp_str)
print(f' List String: ', char_list)

 Original string:  assing string
 List String:  ['a', 's', 's', 'i', 'n', 'g', ' ', 's', 't', 'r', 'i', 'n', 'g']

41. Check if two strings are anagrams.

In [32]:
def anagram_str(str1,str2):
    str1 = str1.replace(" ","").lower()
    str2 = str2.replace(" ","").lower()
    
    return sorted(str1) == sorted(str2)
# test
str1 = 'hello'
str2 = 'fello'
str3 = 'dear'
str4 = 'read'

# Check if strings are anagrams
result1 = anagram_str(str1, str2)
result2 = anagram_str(str3, str4)

# Print the results
print(f"'{str1}' and '{str2}' are anagrams:", result1)
print(f"'{str3}' and '{str4}' are anagrams:", result2)

'hello' and 'fello' are anagrams: False
'dear' and 'read' are anagrams: True

42. Encode a string using a Caesar cipher.

43. Decode a Caesar cipher encoded string.

44. Find the most frequent word in a string.

In [37]:
import re
from collections import Counter

def most_frequent(inp_str):
    clean_string = re.sub(r'[^\w\s]', '', inp_str).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    
    return most_common_word

#test
inp_str = "hy there, how is everything goin'on over there at Apple bee's"

most_common = most_frequent(inp_str)

print('Most frequent word is : ',most_common)

Most frequent word is :  there

45. Find all unique words in a string.

In [39]:
import re

def unique_words(inp_str):
    clean_str = re.sub(r'[^\w\s]', '',inp_str).lower()
    words = set(clean_str.split())
    
    return words
#test
inp_str = "hy there, hey there, who is there"

unique_words = unique_words(inp_str)

print('Unique words are : ',unique_words)

Unique words are :  {'there', 'who', 'hy', 'hey', 'is'}

46. Count the number of syllables in a string

In [25]:
import re
def count_syllables(x):
    vowel_groups = re.findall(r'[aeiouy]+', x, re.IGNORECASE)
    return len(vowel_groups)

# test
word1 = "welcome"
word2 = "ineuron"
word3 = "pwskills"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'welcome' has 3 syllables.
'ineuron' has 3 syllables.
'pwskills' has 1 syllables.

47. Check if a string contains any special characters.

In [27]:
import re
def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)

    return bool(match)
# test
string1 = "Welcome Ya'll"
string2 = "danish@ineuron.ai"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)

'Welcome Ya'll' contains special characters: False
'danish@ineuron.ai' contains special characters: True

48. Remove the nth word from a string.

49. Insert a word at the nth position in a string.

50. Convert a CSV string to a list of lists

## List Based Questions

1. Create a list with integers from 1 to 10.

In [43]:
integers = [i for i in range (1,11)]
print (integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [2]:
def length(inp_list):
    count = 0
    for i in inp_list:
        count +=1
    return count

#test
inp_list = [50,2,20,13,'hy']

t = length(inp_list)
print('length of list :',t)

length of list : 5

3. Append an element to the end of a list.

In [7]:
test_list = [2,4,6,8]

new = 10
test_list.append(new)

print('Appended list is :', test_list)

Appended list is : [2, 4, 6, 8, 10]

4. Insert an element at a specific index in a list.

In [15]:
test_list = [1,3,7,9]

element = 5

test_list.insert(2,element)
print('New list is :',test_list)

New list is : [1, 3, 5, 7, 9]

5. Remove an element from a list by its value.

In [17]:
given_list = [1,2,3,4,5,10]

remove_element = 10

given_list.remove(remove_element)
print('Updated list is :',given_list)

Updated list is : [1, 2, 3, 4, 5]

6. Remove an element from a list by its index.

In [20]:
given_list = [5,10,15,20,25]

index_of_element = 2

given_list.pop(index_of_element)

print('Updated list is :',given_list)

Updated list is : [5, 10, 20, 25]

7. Check if an element exists in a list.

In [21]:
given_list = [5,10,15,20,25]
item_to_check = 15

if item_to_check in given_list:
    print('The item is present inside list')
else:
    print ('The item is Not present inside list')

The item is present inside list

8. Find the index of the first occurrence of an element in a list.

In [10]:
given_list = [5,10,15,20,15,3,15,25]
item_to_check = 15

check_index = given_list.index(item_to_check)

print(f'The ist index of :{given_list}, is : {check_index}')

The ist index of :[5, 10, 15, 20, 15, 3, 15, 25], is : 2

9. Count the occurrences of an element in a list.

In [12]:
given_list = [5,10,15,20,15,3,15,25]
item_to_check = 15

count = given_list.count(item_to_check)

print(f'The item {item_to_check} occures {count} times')

The item 15 occures 3 times

10. Reverse the order of elements in a list.

In [16]:
given_list = [5,10,15,20,3,25]
given_list.reverse()

print(f'The reverse list is {given_list}')

The reverse list is [25, 3, 20, 15, 10, 5]

11. Sort a list in ascending order.

In [18]:
given_list = [5,10,15,20,3,25]

given_list.sort()

print(f'the ascending order of list is {given_list}')

the ascending order of list is [3, 5, 10, 15, 20, 25]

12. Sort a list in descending order.

In [22]:
given_list = [5,10,15,20,3,25]

given_list.sort(reverse=True)

print(f'the descending order of list is {given_list}')

the descending order of list is [25, 20, 15, 10, 5, 3]

13. Create a list of even numbers from 1 to 20.

In [30]:
my_list = [i for i in range (2,21,2)]

print(f'The list of even numbers is : {my_list}')

The list of even numbers is : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [31]:
my_list = [i for i in range (1,21,2)]

print(f'The list of odd numbers is : {my_list}')

The list of odd numbers is : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [33]:
my_list = [1,2,3,4,5,6,7]

sum_of = sum(my_list)

print(f'The sum of items in list is : {sum_of}')

The sum of items in list is : 28

16. Find the maximum value in a list.

In [35]:
my_list = [2,5,3,1,54,23]
max_in_list = max(my_list)

print(f'The maximum value in list is : {max_in_list}')

The maximum value in list is : 54

17. Find the minimum value in a list.

In [36]:
my_list = [2,5,3,1,54,23]
min_in_list = min(my_list)

print(f'The minimum value in list is : {min_in_list}')

The minimum value in list is : 1

18. Create a list of squares of numbers from 1 to 10.

In [39]:
square_of = [a**2 for a in range (1,11)]
print('Sqaure of ist 10 numbers is :',square_of)

Sqaure of ist 10 numbers is : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [41]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for r in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [65, 35, 76, 55, 36, 94, 44, 53, 79, 69]

20. Remove duplicates from a list.

In [1]:
my_list = [ 1,2,3,3,4,4,5,6]

unique_list = list(set(my_list))
print('list with no duplicates : ',unique_list)

list with no duplicates :  [1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [9]:
list1 = [1,3,5,7,8,9]
list2 = [2,4,6,8,9,10]
common_list = []
for i in list1:
    if i in list2:
        common_list.append(i)

print('common items',common_list)

common items [8, 9]

22. Find the difference between two lists.

In [11]:
list1 = [1,3,5,7,8,9]
list2 = [2,4,6,8,9,10]

differnce = list(set(list1).difference(list2))
print('difference is : ',differnce)

difference is :  [1, 3, 5, 7]

23. Merge two lists.

In [15]:
list1 = [1,3,5,7,8,9]
list2 = [2,4,6,8,9,10]
merge = list1 +list2
print('Merged list is :',merge)

Merged list is : [1, 3, 5, 7, 8, 9, 2, 4, 6, 8, 9, 10]

24. Multiply all elements in a list by 2.

In [19]:
list1 = [1,3,5]

mult = [i*2 for i in list1]
print('List multiplied by 2 is : ',mult)

List multiplied by 2 is :  [2, 6, 10]

25. Filter out all even numbers from a list.

In [24]:
list1 = [1,2,4,5,8,9,10]
filter_list = []
for i in list1:
    if i%2!=0:
        filter_list.append(i)
print('List witout even numbers :',filter_list)

List witout even numbers : [1, 5, 9]

26. Convert a list of strings to a list of integers.

In [6]:
list1 = ['1','2','4','5','8']
new_list = [int(i) for i in list1]

print('Integer list is : ',new_list)

Integer list is :  [1, 2, 4, 5, 8]

27. Convert a list of integers to a list of strings.

In [8]:
list1 = [1,2,4,5,8,9,10]
new_list = [str(i) for i in list1]

print('String list is :',new_list)

String list is : ['1', '2', '4', '5', '8', '9', '10']

28. Flatten a nested list.

In [11]:
my_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Define a Function :
def flatten_list(clear_nest):
    flattened = []
    for i in clear_nest:
        if isinstance(i, list):
            flattened.extend(flatten_list(i))
        else:
            flattened.append(i)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(my_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [14]:
def fibonacci(num):
    fibonacci_series = [0,1]
    for i in range(2,num):
        next_num = fibonacci_series[i - 1] + fibonacci_series[i - 2]
        fibonacci_series.append(next_num)

    return fibonacci_series
#test
fibonacci_ = fibonacci(10)
print("First 10 Fibonnaci numbers :",fibonacci_)

Ist 10 Fibonnaci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [15]:
def sorted_check(l1):
    for i in range(1, len(l1)):
        if l1[i] < l1[i - 1]:
            return False
    return True

# Test
l1 = [10, 20, 60, 40, 50]

if sorted_check(l1):
    print('The list is in ascending order i,e;sorted)')
else:
    print('The list is not in ascending order')

The list is not in ascending order

31. Rotate a list to the left by n positions.

In [17]:
list1 = [ 0, 2, 4, 3, 5, 7, 9,]

# Define Function to rotate/change index
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    
    rotated = lst[n:] + lst[:n]
    return rotated

# Rotate the list to the left by n positions
rotated_list = rotate_left(list1, 3)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 5, 7, 9, 0, 2, 4]

31. Rotate a list to the right by n positions.

In [19]:
def rotate_right(lst, n):
    n = n% len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

#test
list1 = [3, 5, 7, 9, 0, 2, 4]

rotated_lst = rotate_right(list1, 4)
print('Rotated List :',rotated_lst)

Rotated List : [0, 2, 4, 3, 5, 7, 9]

33. Create a list of prime numbers up to 50.

In [44]:
num = list(range(2,50))
prime = []
for i in num:
    c = 0
    for j in range(1,i):
        if i%j == 0:
            c+=1
    if c==1:
        prime.append(i)
print("List of 50 Prime Numbers is :",prime)

List of 50 Prime Numbers is : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size n.

35. Find the second largest number in a list.

In [3]:
eg_list = [2,4,1,7,9,15]
sort_list = sorted(set(eg_list))
if len(sort_list) >= 2:
    second_largest = sort_list[-2]
    print('2nd Largest Number is', second_largest)
else:
    print('Not enough elements inside the given list')

2nd Largest Number is 9

36. Replace every element in a list with its square.

In [4]:
my_list = [2,3,5,6,9]

square_of_list = [a **2 for a in my_list]

print("Square of given list :", square_of_list)

Square of given list : [4, 9, 25, 36, 81]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [5]:
my_list = ['violet', 'indigo', 'blue', 'green']

dictionary = {element : index for index, element in enumerate(my_list)}

print("Converted list to dictionary is :",dictionary)

Converted list to dictionary is : {'violet': 0, 'indigo': 1, 'blue': 2, 'green': 3}

38. Shuffle the elements of a list randomly.

In [10]:
import random
my_list = [ 1,2,3,4,6,8,3]

random.shuffle(my_list)

print('Shuffeled list :',my_list)

Shuffeled list : [4, 8, 6, 1, 3, 2, 3]

39. Create a list of the first 10 factorial numbers.

In [11]:
def factorial(n):
    if n ==0 or n==1:
        return 1
    else:
        return n* factorial(n-1)
#test function
fact = [factorial(i) for i in range(10)]
print('Factorail of ist 10 numbers is :', fact)

Factorail of ist 10 numbers is : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [14]:
def check_commom_element(l1,l2):
    for i in l1:
        if i in l2:
            return True
    else:
        return False
# test function
l1 = [0,2,4,7]
l2 = [1,3,5,7]
if check_commom_element(l1,l2):
    print('The lists have atleast 1 common element')
else:
    print('The lists have no common element')

The lists have atleast 1 common element

41. Remove all elements from a list.

In [15]:
my_list = [1,2,3,4,5,5]

my_list.clear()
print("The empty list is", my_list)

The empty list is []

42. Replace negative numbers in a list with 0.

In [16]:
my_list = [1, -2, -4, 5, -56, 10]

for a in range(len(my_list)):
    if my_list[a] < 0:
        my_list[a] = 0
print('The list with no negative element is :',my_list)

The list with no negative element is : [1, 0, 0, 5, 0, 10]

43. Convert a string into a list of words.

In [18]:
string = 'Hello world this is data science'
words_split = string.split()
print('The split list is :',words)

The split list is : ['Hello', 'world', 'this', 'is', 'data', 'science']

44. Convert a list of words into a string.

In [20]:
my_list = ['hello', 'world', 'welcome', 'to', 'python']

joined_string = " ".join(my_list)

print('Converted string is :',joined_string)

Converted string is : hello world welcome to python

45. Create a list of the first n powers of 2.

In [21]:
n = 6

power_list = [2 ** i for i in range(n)]
print('List of n powers is: ',power_list)

List of n powers is:  [1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings

In [23]:
str_list = ['hello', 'world', 'welcome', 'to', 'python']
longest_string = ''
for i in str_list:
    if len(i) > len(longest_string):
        longest_string = i
print('Longest string is: ',longest_string)

Longest string is:  welcome

47. Find the shortest string in a list of strings.

In [25]:
str_list = ['hello', 'world', 'welcome', 'to', 'python']
shortest_string = str_list[0]
for i in str_list:
    if len(i) < len(shortest_string):
        shortest_string = i
print('shortest string is: ',shortest_string)

shortest string is:  to

48. Create a list of the first n triangular numbers.

In [26]:
def triangular_num(n):
    return [ i * (i + 1)// 2 for i in range(1, n+1)]
n = 5
triangulat_list = triangular_num(n)
print('List of triangular numbers is :', triangulat_list)

List of triangular numbers is : [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [28]:
def check_subsequence(subsequence, my_list):
    subseq_index = 0
    for i in my_list:
        if i == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

#test function
my_list = [1,2,3,4,5,6,7,8,9,10]
subsequence = [1,3,5]

if check_subsequence(subsequence, my_list):
    print("My list contains the subsequence.")
else:
    print("My list does not contain the subsequence.")

My list contains the subsequence.

50. Swap two elements in a list by their indices.

In [29]:
my_list = [1, 2, 3, 4, 5, 6, 7]

index1 = 1
index2 = 5

# Swap the elements
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the result
print("List after swapping elements:", my_list)

List after swapping elements: [1, 6, 3, 4, 5, 2, 7]

# Tuple Based Questions

1. Create a tuple with integers from 1 to 5.

In [7]:
my_tuple = tuple(range(1,6))
print('Tuple of integers from 1-5 :',my_tuple)

Tuple of integers from 1-5 : (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [8]:
my_tuple = (2,4,6,8,10,12)
third_element = my_tuple[2]

print('3rd element is :',third_element)

3rd element is : 6

3. Find the length of a tuple without using the len() function.

In [10]:
my_tuple = (2,4,6,8,10,12)
count = 0
for i in my_tuple:
    count +=1
print('Length of Tuple is :',count)

Length of Tuple is : 6

4. Count the occurrences of an element in a tuple.

In [15]:
my_tuple = (2,4,6,8,2,4,2)
element_to_count = 2
count = 0
for i in my_tuple:
    if i == element_to_count:
        count +=1
print(f'The occurance of {element_to_count} is {count} times')

The occurance of 2 is 3 times

5. Find the index of the first occurrence of an element in a tuple.

In [17]:
my_tuple = (2,4,6,8,2,4,2)
check_occurance_ist = 4
index = -1
for i, item in enumerate(my_tuple):
    if item == check_occurance_ist:
        index = i
        break
if index != -1:
    print(f"The first occurrence of {check_occurance_ist} is at index {index}.")
else:
    print(f"{check_occurance_ist} is not found in the tuple.")

The first occurrence of 4 is at index 1.

6. Check if an element exists in a tuple.

In [18]:
my_tuple = (1,3,5,7,9,10,11,13)
item_to_check = 10
if item_to_check in my_tuple:
    print (f'{item_to_check} exists in the given tuple')
else:
    print (f'{item_to_check} does not exists in the given tuple')

10 exists in the given tuple

7. Convert a tuple to a list.

In [21]:
my_tuple = ( 1,2,3,4,5,6)
conversion = list(my_tuple)
print(f'The converted tuple {my_tuple} to list is {conversion}')

The converted tuple (1, 2, 3, 4, 5, 6) to list is [1, 2, 3, 4, 5, 6]

8. Convert a list to a tuple.

In [22]:
list1 = [1,2,3,4,5,6]
list_to_tuple = tuple(list1)
print(f' The list {list1} converted to tuple is {list_to_tuple}')

 The list [1, 2, 3, 4, 5, 6] converted to tuple is (1, 2, 3, 4, 5, 6)

9. Unpack the elements of a tuple into variables.

In [24]:
tuple1 = ( 2, 4, 6 )
v1, v2, v3 = tuple1
print('Variable 1 :', v1)
print('Variable 2 :', v2)
print('Variable 3 :', v3)

Variable 1 : 2
Variable 2 : 4
Variable 3 : 6

10. Create a tuple of even numbers from 1 to 10.

In [25]:
list_even_num = [i for i in range (2,11,2)]
tuple_of_even = tuple(list_even_num)
print('Tuple of Even Numbers :',tuple_of_even)

Tuple of Even Numbers : (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [26]:
list_odd_num = [i for i in range (1,10,2)]
tuple_of_odd = tuple(list_odd_num)
print('Tuple of Odd Numbers :',tuple_of_odd)

Tuple of Odd Numbers : (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [27]:
t1 = (1,3,5,7)
t2 = (2,4,6,8)
concatination = t1 + t2
print("The concatination of 2 Tuples is :",concatination)

The concatination of 2 Tuples is : (1, 3, 5, 7, 2, 4, 6, 8)

13. Repeat a tuple three times.

In [28]:
t1 = (1,2)
repetition = t1 * 3
print('The repeated tuple is ',repetition)

The repeated tuple is  (1, 2, 1, 2, 1, 2)

14. Check if a tuple is empty.

In [29]:
t1 = ()
t2 = (1,2,3)
if not t1:
    print('The tuple is empty')
else:
    print('The tuple is not empty')
    
if not t2:
    print('The tuple is empty')
else:
    print('The tuple is not empty')

The tuple is empty
The tuple is not empty

15. Create a nested tuple.

In [30]:
Nested_tuple = ((1,2,3),('nested','tuple'),('test'))
print('The nested tuple :',Nested_tuple)

The nested tuple : ((1, 2, 3), ('nested', 'tuple'), 'test')

16. Access the first element of a nested tuple.

In [31]:
Nested_tuple = ((1,2,3),('nested','tuple'),('test'))
ist_element = Nested_tuple[0]
print('Ist element of nested tuple is :',ist_element)

Ist element of nested tuple is : (1, 2, 3)

17. Create a tuple with a single element.

In [32]:
single_element = (1,)
print("The tuple with single element is :",single_element)

The tuple with single element is : (1,)

18. Compare two tuples.

In [2]:
t1 = (1, 3, 5)
t2 = (1, 2, 3)

print('Tuple 1 == Tuple2 :', t1 == t2)
print('Tuple 1 != Tuple2 :', t1 != t2)
print('Tuple 1 > Tuple2 :', t1 > t2)
print('Tuple 1 >= Tuple2 :', t1 >= t2)
print('Tuple 1 < Tuple2 :', t1 < t2)
print('Tuple 1 <= Tuple2 :', t1 <= t2)

Tuple 1 == Tuple2 : False
Tuple 1 != Tuple2 : True
Tuple 1 > Tuple2 : True
Tuple 1 >= Tuple2 : True
Tuple 1 < Tuple2 : False
Tuple 1 <= Tuple2 : False

19. Delete a tuple.

In [3]:
tuple1 = (1,2,3,4)
del tuple1
print('My deleted tuple is: ',tuple1)

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [9]:
t1 = (1,2,3,4,5,6,7,8,9)
sliced_tuple = t1[4:9]

print('Sliced Tuple is : ',sliced_tuple)

Sliced Tuple is :  (5, 6, 7, 8, 9)

21. Find the maximum value in a tuple.

In [12]:
t1 = (1,2,3,4,7,23,4,1,6)
max_value = max(t1)

print('Maximum Value :',max_value)

Maximum Value : 23

In [ ]:
22. Find the minimum value in a tuple.

In [13]:
t1 = (2,14,7,23,4,11,6)
min_value = min(t1)

print('Minimum Value :',min_value)

Minimum Value : 2

23. Convert a string to a tuple of characters.

In [16]:
my_string = 'alpha hello'
my_tuple = tuple(my_string)

print('Tuple of characters :',my_tuple)

Tuple of characters : ('a', 'l', 'p', 'h', 'a', ' ', 'h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [19]:
my_tuple = ('h','e','l','l','o',' ','w','o','r','l','d')
my_string = ''.join(my_tuple)

print(my_string)

hello world

25. Create a tuple from multiple data types.

In [20]:
tuple1 = ('hello', 1, 0.2, True)

print('Mixed Tuple : ',tuple1)

Mixed Tuple :  ('hello', 1, 0.2, True)

26. Check if two tuples are identical.

In [22]:
t1 = (1,3,5)
t2 = (1,3,5)
t3 = (2,4,6)

t1_t2 = t1 == t2
t2_t3 = t2 == t3

print("Tuple 1 & Tuple 2 are identical :", t1_t2)
print("Tuple 2 & Tuple 3 are identical :", t2_t3)

Tuple 1 & Tuple 2 are identical : True
Tuple 2 & Tuple 3 are identical : False

27. Sort the elements of a tuple.

In [23]:
tuple_1 = (2,3,1,5,7)

sorted_tuple = tuple(sorted(tuple_1))

print('Sorted tuple :',sorted_tuple)

Sorted tuple : (1, 2, 3, 5, 7)

28. Convert a tuple of integers to a tuple of strings.

In [29]:
tuple1 = (1,2,3,4,5,6)

tuple_str = tuple(str(x) for x in tuple1)

print("Tuple of strings :",tuple_str)

Tuple of strings : ('1', '2', '3', '4', '5', '6')

29. Convert a tuple of strings to a tuple of integers.

In [28]:
tuple_of_str = ('1', '2', '3')

tuple_of_int = tuple(int(x) for x in tuple_of_str)

print("Tuple of integers: ",tuple_of_int)

Tuple of integers:  (1, 2, 3)

30. Merge two tuples.

In [30]:
t1 = (1,3,5)
t2 = (2,4,6)

merged_tuple = t1 + t2

print("Merged tuple is: ",merged_tuple)

Merged tuple is:  (1, 3, 5, 2, 4, 6)

31. Flatten a nested tuple.

In [3]:
def flat_tuple(nested_tuple):
    flattened = []
    for i in nested_tuple:
        if isinstance(i, tuple):
            flattened.extend(flat_tuple(i))
        else:
            flattened.append(i)
    return flattened

tuple_eg = ((1,3,5), (2,4,6),(0,(10,15)))

tuple_flat = flat_tuple(tuple_eg)
print('Flattened Tuple: ',tuple_flat)

Flattened Tuple:  [1, 3, 5, 2, 4, 6, 0, 10, 15]

32. Create a tuple of the first 5 prime numbers.

In [4]:
def prime_num(num):
    if num <=1:
        return False
    for i in range (2, int(num ** 0.5) +1):
        if num % i == 0:
            return False
    return True
#test
prime_num_list = [num for num in range(2, 100) if prime_num(num)][:5]

prime_num_tuple = tuple(prime_num_list)

print("Tuple of the first 5 prime numbers:", prime_num_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

3. Check if a tuple is a palindrome.

In [6]:
def palindrome(i):
    return i == i[::-1]
# eg
t1 = (1,2,3,2,1)
t2 = (1,2,3,4,5)

check_palindrome1 = palindrome(t1)
check_plaindrome2 = palindrome(t2)

print("T1 is a palindrome :",check_palindrome1)
print("T2 is a plaindrome :", check_plaindrome2)

T1 is a palindrome : True
T2 is a plaindrome : False

34. Create a tuple of squares of numbers from 1 to 5.

In [7]:
square_of = tuple(i ** 2 for i in range (1,6))

print("Square of ist 5 numbers :",square_of)

Square of ist 5 numbers : (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [10]:
tuple_eg = (1, 2, 3, 4, 5, 6, 7)
even_tuple = tuple ( i for i in tuple_eg if i % 2 != 1)

print("Filtered even number tuple: ",even_tuple)

Filtered even number tuple:  (2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [12]:
eg_tuple = ( 1, 3, 5, 7)

new_tuple = tuple ( i * 2 for i in eg_tuple)

print("Tuple multipled by 2 is :",new_tuple)

Tuple multipled by 2 is : (2, 6, 10, 14)

37. Create a tuple of random numbers.

In [13]:
import random

random_tuple = tuple(random.randint(1,100) for i in range(1,10))

print("Tuple of Random numbers :",random_tuple)

Tuple of Random numbers : (12, 76, 30, 99, 71, 90, 89, 69, 99)

38. Check if a tuple is sorted.

In [14]:
def check_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
#test
t1 = ( 1, 2, 3, 4, 5)
t2 = ( 1, 5, 2, 3, 4)

sort_check1 = check_sorted(t1)
sort_check2 = check_sorted(t2)

print("T1 is a sorted tuple :",sort_check1)
print("T2 is a sorted tuple :",sort_check2)

T1 is a sorted tuple : True
T2 is a sorted tuple : False

39. Rotate a tuple to the left by n positions.

In [16]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tup = tup[n:] + tup[:n]
    return rotated_tup
# test
tup_eg = ( 1, 2, 3, 4, 5)
num_pos = 2
result = rotate_tuple_left(tup_eg, num_pos)

print( "The rotated tuple is :",result)

The rotated tuple is : (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by n positions.

In [19]:
def rotate_tuple_ryt(tup, n):
    n = n % len(tup)
    rotated_tup = tup[-n:] + tup[:-n]
    return rotated_tup
# test
tup_eg = ( 1, 2, 3, 4, 5)
num_pos = 2
result = rotate_tuple_ryt(tup_eg, num_pos)

print( "The rotated tuple is :",result)

The rotated tuple is : (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [2]:
def fibonacci_series(n):
    fibonacci = [0,1]
    while len(fibonacci) < n:
        next_num = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_num)
    return tuple(fibonacci)

#test
tuple_fibonacci = fibonacci_series(5)
print(tuple_fibonacci)

(0, 1, 1, 2, 3)

In [ ]:
42. Create a tuple from user input.

In [3]:
user_input = input("Enter elements separated by comma: ")
input_list = user_input.split(',')
user_tuple = tuple(input_list)

print("The entered tuple is :",user_tuple)

enter elements separated by comma: h,e,l,l,o, ,w,o,r,l,d
The entered tuple is : ('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [ ]:
43. Swap two elements in a tuple.

In [6]:
my_tuple = (0,1,2,3,4,5)
index1 = 1
index2 = 3
swap_tuple = tuple(
    my_tuple[i] if i not in (index1 , index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swap_tuple)

Swapped tuple: (0, 3, 2, 1, 4, 5)

In [ ]:
44. Reverse the elements of a tuple.

In [7]:
my_tuple = (1,2,3,4,5)
rev_tuple = my_tuple [::-1]
print("The reversed tuple is: ",rev_tuple)

The reversed tuple is:  (5, 4, 3, 2, 1)

In [ ]:
45. Create a tuple of the first n powers of 2.

In [9]:
n = 10
power_tuple_of_2 = tuple( 2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", power_tuple_of_2)

Tuple of the first 10 powers of 2: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [ ]:
46. Find the longest string in a tuple of strings.

In [10]:
tuple_str = ("hello", "world", "welcome", "to", "python_class")

longest_string = max(tuple_str, key=len)

print("Longest string:", longest_string)

Longest string: python_class

In [ ]:
47. Find the shortest string in a tuple of strings.

In [12]:
tuple_str = ("hello", "world", "welcome", "to", "python_class")

shortest_string = min(tuple_str, key=len)

print("Shortest string:", shortest_string)

Shortest string: to

In [ ]:
48. Create a tuple of the first n triangular numbers.

In [13]:
n = 5
triangular_num_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_num_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [14]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False
#test
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequent tuple
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [ ]:
50. Create a tuple of alternating 1s and 0s of length n.

In [15]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# SET Questions

1. Create a set with integers from 1 to 5

In [2]:
my_set = {1,2,3,4,5}

print("Set of integers : ",my_set )

Set of integers :  {1, 2, 3, 4, 5}

2. Add an element to a set

In [5]:
my_set = {1,2,3,4,5}

print("Original set :",my_set)

add_element = 0
my_set.add(add_element)

print("New set :",my_set)

Original set : {1, 2, 3, 4, 5}
New set : {0, 1, 2, 3, 4, 5}

3. Remove an element from a set.

In [6]:
my_set = {1,2,3,4,5}

print("Original set :",my_set)

remove_element = 5
my_set.remove(remove_element)

print("Updated set :",my_set)

Original set : {1, 2, 3, 4, 5}
Updated set : {1, 2, 3, 4}

4. Check if an element exists in a set.

In [8]:
my_set = { 1, 2, 3, 4, 5 }
check_element = int(input("Enter element to check"))

if check_element in my_set:
    print(f"{check_element} exists in My set")
else:
    print(f"{check_element} does no exist in my set")

Enter element to check3
3 exists in My set

5. Find the length of a set without using the len() function

In [9]:
my_set = { 1, 2, 3, 4, 5 }
count = 0

for i in my_set:
    count += 1
print("Length of set is :",count)

Length of set is : 5

6. Clear all elements from a set.

In [10]:
my_set = { 1, 2, 3, 4, 5 }
print("Original set : ",my_set)

my_set.clear()

print("Cleared set : ",my_set)

Original set :  {1, 2, 3, 4, 5}
Cleared set :  set()

7. Create a set of even numbers from 1 to 10

In [11]:
Even_numbers = set()
for i in range(1,11):
    if i % 2 == 0:
        Even_numbers.add(i)
print("Set of even numbers :",Even_numbers)

Set of even numbers : {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [12]:
odd_numbers = set()
for i in range(1,11):
    if i % 2 != 0:
        odd_numbers.add(i)
print("Set of Odd numbers :",odd_numbers)

Set of Odd numbers : {1, 3, 5, 7, 9}

9. Find the union of two sets

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9}

union = set1.union(set2)

print("Set 1 :",set1)
print("Set 2 :",set2)

print("Union set :",union)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8, 9}
Union set : {1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9}

intersection = set1.intersection(set2)

print("Set 1 :",set1)
print("Set 2 :",set2)

print("Intersection set :",intersection)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8, 9}
Intersection set : {4, 5}

11. Find the difference between two sets.

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9}

difference = set1.difference(set2)

print("Set 1 :",set1)
print("Set 2 :",set2)

print("Difference set :",difference)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8, 9}
Difference set : {1, 2, 3}

12. Check if a set is a subset of another set.

In [16]:
set1 = {4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

sub_set = set1.issubset(set2)

print("Is set1 subset of set2 :",sub_set)

Is set1 subset of set2 : True

13. Check if a set is a superset of another set.

In [18]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6}

check_super_set = set1.issuperset(set2)

if check_super_set:
    print("Set1 is Superset of Set2")
else:
    print("Set1 is not Superset of Set2")

Set1 is Superset of Set2

14. Create a set from a list

In [2]:
my_list = (1,2,3,4,5,6)
my_set = set(my_list)

print("List of objects :",my_list)
print("Set of objects of List :",my_set)

List of objects : (1, 2, 3, 4, 5, 6)
Set of objects of List : {1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [3]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print("Original Set :",my_set)
print("List of Objects of Set :",my_list)

Original Set : {1, 2, 3, 4, 5}
List of Objects of Set : [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [6]:
import random
my_set = {1, 2, 3, 4, 5}
print("Original Set :",my_set)

random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("Updated Set after removing :",random_element, ":", my_set)

Original Set : {1, 2, 3, 4, 5}
Updated Set after removing : 5 : {1, 2, 3, 4}

17. Pop an element from a set.

In [7]:
my_set = {1, 2, 3, 4, 5, 6}
print("Original set:", my_set)

popped_element = my_set.pop()
print("Popped element:", popped_element)

print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5, 6}
Popped element: 1
Set after popping: {2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [10]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {0, 2, 4, 6, 8, 10}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The sets have no Common Elements")
else:
    print("The sets have Common Elements :", common_elements)

The sets have Common Elements : {2, 4, 6}

19. Find the symmetric difference between two sets.

In [11]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 6}

symmetric_difference = set1 ^ set2

print("The symmetric difference in 2 sets is :",symmetric_difference)

The symmetric difference in 2 sets is : {1, 3, 5}

20. Update a set with elements from another set.

In [14]:
set1 = {1, 3, 5}
print("Set 1 :",set1)

set2 = {2, 4, 6}
print("Set 2 :",set2)

updated_set = set1.update(set2)

print("Updated Set 1 :",set1)

Set 1 : {1, 3, 5}
Set 2 : {2, 4, 6}
Updated Set 1 : {1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [15]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [1]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 1, 5, 2, 4}

if set_1 == set_2:
    print("The two sets are identical")
else:
    print("The two sets are not identical")

The two sets are identical

23. Create a frozen set

In [4]:
elements = [1, 2, 3, 4, 5]

frozen_set = frozenset(elements)

print("The frozen set is :",frozen_set)

The frozen set is : frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [5]:
set1 = {1, 2, 3 }
set2 = {4, 5, 6 }

disjoint_check = set1.isdisjoint(set2)

print("Is Set 1 disjoint of Set 2 ?", disjoint_check)

Is Set 1 disjoint of Set 2 ? True

25. Create a set of squares of numbers from 1 to 5.

In [6]:
squares_set = set()
for i in range(1,6):
    square = i ** 2
    squares_set.add(square)
print("The set of squares is :",squares_set)

The set of squares is : {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [10]:
my_set = {1, 2, 3, 4, 5, 6}
even_set = set()
for i in my_set:
    if i % 2 == 0:
        even_set.add(i)

print("Original Set :",my_set)
print("Set of Even Numbers :",even_set)

Original Set : {1, 2, 3, 4, 5, 6}
Set of Even Numbers : {2, 4, 6}

27. Multiply all elements in a set by 2.

In [2]:
original_set = { 2, 4, 6 }

final_set = set()
for i in original_set:
    multiplied_num = i * 2
    final_set.add(multiplied_num)
print("Original set :",original_set)
print("Set Multiplied by Two :",final_set)

Original set : {2, 4, 6}
Set Multiplied by Two : {8, 4, 12}

28. Create a set of random numbers.

In [4]:
import random
random_num = 5
random_num_set = set()

for i in range(random_num):
    random_number = random.randint(1,100)
    random_num_set.add(random_number)
print("Set of random numbers :",random_num_set)

Set of random numbers : {3, 40, 77, 21, 55}

29. Check if a set is empty.

In [5]:
my_set = set()

if not my_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

30. Create a nested set (hint: use frozenset).

In [6]:
set1 = {1, 2, 3 }
set2 = {5, 6, 7 }

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1,frozen_set2}

print("Nested Set :",nested_set)

Nested Set : {frozenset({1, 2, 3}), frozenset({5, 6, 7})}

31. Remove an element from a set using the discard method.

In [7]:
my_set = {1, 2, 3, 4, 5 }
print("Initial Set :",my_set)

element_to_remove = 4
my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":",my_set)

Initial Set : {1, 2, 3, 4, 5}
Set after removing 4 : {1, 2, 3, 5}

32. Compare two sets.

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 6, 8, 10}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {2, 4, 6, 8, 10}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {2, 4}
Union: {1, 2, 3, 4, 5, 6, 8, 10}
Elements in set1 but not in set2: {1, 3, 5}
Elements in set2 but not in set1: {8, 10, 6}

33. Create a set from a string.

In [9]:
string = "welcome"
set_of_string = set(string)

print("Set from string :",set_of_string)

Set from string : {'m', 'l', 'w', 'c', 'o', 'e'}

34. Convert a set of strings to a set of integers.

In [10]:
string_set = {"232", "554", "104"}
integer_set = set()

for i in string_set:
    integer_value = int(i)
    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'554', '104', '232'}
Converted Integer Set: {104, 232, 554}

35. Convert a set of integers to a set of strings.

In [11]:
integers_set = {1, 2, 3, 4, 5}
strings_set = set()
for num in integers_set:
    num_string = str(num)
    strings_set.add(num_string)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '5', '3', '2', '1'}

36. Create a set from a tuple.

In [12]:
my_tuple = (1, 2, 3, 4, 5)
set_from_tuple = set(my_tuple)

print("Set from tuple :",set_from_tuple)

Set from tuple : {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [14]:
my_set = {1, 2, 3, 4, 5}
tuple_from_set = tuple(my_set)

print("Converted set into tuple :",tuple_from_set)

Converted set into tuple : (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [16]:
my_set = {1, 7, 50, 3, 18}
max_value = None
for i in my_set:
    if max_value is None or i > max_value:
        max_value = i
print("Maximum value:", max_value)

Maximum value: 50

39. Find the minimum value in a set.

In [17]:
my_set = {7, 50, 3, 18}
min_value = None
for i in my_set:
    if min_value is None or i < min_value:
        min_value = i
print("Minimum value:", min_value)

Minimum value: 3

40. Create a set from user input.

In [18]:
user_set = set()
print("Enter elements for set (type 'done' to finish):")
while True:
    user_input = input("> ")
    if user_input.lower() == 'done':
        break
    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for set (type 'done' to finish):
> hy
> next
> set
> cool
> DONE
Final set: {'next', 'cool', 'hy', 'set'}

41. Check if the intersection of two sets is empty.

In [3]:
set1 = {1, 3, 5 }
set2 = {2, 4, 6, 8, 10 }
intersect = set1.intersection(set2)

if not intersect:
    print("The intersection of  sets is empty")
else:
    print("The intersection of sets are not empty")

The intersection of  sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [4]:
fibonacci_set = set()
a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
    
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [7]:
my_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)
unique_list = list(unique_set)

print("Original List:", my_list)
print("List without Duplicates:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List without Duplicates: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [10]:
def check_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    return sorted_list1 == sorted_list2

# test
set1 = {1, 2, 3, 4, 5}
set2 = {7, 9, 0}

result = check_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets do not have the same elements.

45. Create a set of the first n powers of 2

In [11]:
def power_of_2(n):
    powers_of_2 = set()
    
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2

n = 5
powers_set = power_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [13]:
my_set = {1, 2, 3, 4, 5 }
my_list = [2, 4, 6 ]

list_to_set = set(my_list)
common_elements = []

for i in my_set:
    if i in list_to_set:
        common_elements.append(i)

print("Common elements:", common_elements)

Common elements: [2, 4]

47. Create a set of the first n triangular numbers.

In [18]:
def create_triangular_numbers(n):
    triangular_num = set()
    
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        
        triangular_num.add(triangular_number)
        
    return triangular_num

n = 7
triangular_set = create_triangular_numbers(n)

print(f"The set of the first {n} triangular numbers is:", triangular_set)

The set of the first 7 triangular numbers is: {1, 3, 6, 10, 15, 21, 28}

48. Check if a set contains another set as a subset.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length n.

In [21]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)
    return alternating_set

n = 10
result = create_alternating_set(n)
print(result)

{0, 1}

50. Merge multiple sets into one.

In [24]:
set1 = {1, 3, 5}
set2 = {2, 4, 6}
set3 = {0, 1, 2}

merged_set = set1 | set2 | set3
print("Merged Set:", merged_set)

Merged Set: {0, 1, 2, 3, 4, 5, 6}